@{
    ViewBag.Title = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To our very basic forum app. You can start by browsing the available <a href="/Post/Index">posts</a>.</p>
</div>
