body {
    padding: 0;
    margin: 0;
    width:100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: rgb(214,116,114);
}

li {
    display: inline-block;
}

a {
    color: rgb(214,116,114);
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

hr {
    border-top: 2px solid rgb(214,116,114);
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 60px;
}

section {
    text-align: center;
    margin: 0;
    padding: 0;
}

section#header {
    margin-top: -27px;
    color: white;
    height: 650px;
    background-image: 
        linear-gradient(to top, rgba(52, 51, 51, 0.52), rgba(55, 55, 55, 0.73)),
        url("../images/header-flower.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}

section#header article h1 {
    letter-spacing: 2px;
    padding-top: 230px;
    font-size: 40px;
}

section#header article p {
    width: 470px;
    margin: 0 auto;
}

section#main {
    background-color: rgb(214,116,114);
    color: white;
}

section#main article {
    padding: 20px;
}

section#main article p {
    padding: 15px;
    width: 480px;
    margin: 0 auto;
}

section#main article hr {
    border-top: 2px solid white;
}

section#main article button {
    padding: 6px;
    width: 110px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: white;
    color: rgb(214,116,114);
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
}

section#bottom {
    color: black;
}

section#bottom article {
    display: inline-block;
    padding: 80px;
    vertical-align: top;
}

section#bottom article p {
    width: 220px;
}

footer p {
    color: white;
    margin: 0;
    padding: 15px;
    background-color: rgb(214,116,114);
}